package ${package}.entity;
import java.io.Serializable;
import com.fasterxml.jackson.annotation.JsonIgnoreProperties;
/**		
 * 数据库类型：mysql
 * @author：zhaoyu
 */
@JsonIgnoreProperties(ignoreUnknown = true)
public class ${name}  implements Serializable  {
	/**
	 * 序列化
	 */
	private static final long serialVersionUID = 1L;
	
	<#list list as obj>
	private <#if obj.dataType=='int' || obj.dataType=='smallint' || obj.dataType=='tinyint'>Integer<#elseif obj.dataType=='bigint'>Long<#elseif obj.dataType=='varchar' || obj.dataType=='char'>String</#if> ${obj.columnNameTransformed};
		
	</#list>
	<#-- 类文件的方法模版 -->
	<#list list as obj >
	public <#if obj.dataType=='int' || obj.dataType=='smallint' || obj.dataType=='tinyint'>Integer<#elseif obj.dataType=='bigint'>Long<#elseif obj.dataType=='varchar' || obj.dataType=='char'>String</#if> get${obj.columnNameTransformed?cap_first}(){
		return this.${obj.columnNameTransformed};
	}
	
	public void set${obj.columnNameTransformed?cap_first}(<#if obj.dataType=='int' || obj.dataType=='smallint' || obj.dataType=='tinyint'>Integer<#elseif obj.dataType=='bigint'>Long<#elseif obj.dataType=='varchar' || obj.dataType=='char'>String</#if> ${obj.columnNameTransformed}){
		this.${obj.columnNameTransformed} = ${obj.columnNameTransformed};
	}
	
	</#list>
	
	public ${name}() {
		super();
	}
	
	@Override
	public String toString() {
		return "${name} ["
		<#list list as obj >
			+"${obj.columnNameTransformed}=" + this.${obj.columnNameTransformed}<#if obj_has_next>+","</#if> 
		</#list>
		+ "]";
	}

}